Repository LASCAMPIA67/sssdwnld_2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/backend/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/frontend/**/*.{js,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

commit
  .github/workflows/deploy.yml
  scripts/monitor.sh
  scripts/rollback.sh
Due: none

commit
  scripts/deploy.sh
Due: none

commit
  packages/backend/routes/download.js
  packages/backend/routes/health.js
  packages/backend/server.js
  scripts/deploy-fix.sh
Due: eslint --fix, prettier --write

feat: améliore server.js + corrections diverses
  deploy-fix.sh
  package-lock.json
  packages/backend/package.json
  packages/backend/yt-dlp
  packages/frontend/package.json
Due: prettier --write

commit
  packages/backend/server.js
Due: eslint --fix, prettier --write

commit
  .dockerignore
  .env.example
  .github/workflows/deploy.yml
  dockerfile
  package.json
  packages/backend/package.json
  packages/backend/routes/download.js
  packages/backend/server.js
  packages/backend/services/videoService.js
  packages/backend/test/health.test.js
  packages/frontend/package.json
  packages/frontend/src/app.vue
  packages/frontend/src/package.json
  packages/frontend/src/services/api.js
  readme.md
  scripts/backup.sh
  scripts/deploy.sh
  scripts/setup-server.sh
Due: eslint --fix, prettier --write

commit
  .env.example
  .github/workflows/deploy.yml
  docker-compose.yml
  dockerfile
  nginx.conf
  packages/backend/config/logger.js
  packages/backend/config/swagger.js
  packages/backend/jest.config.js
  packages/backend/middleware/cache.js
  packages/backend/middleware/validation.js
  packages/backend/package.json
  packages/backend/routes/download.js
  packages/backend/routes/stats.js
  packages/backend/server.js
  packages/backend/services/videoService.js
  packages/backend/test/api.test.js
  packages/backend/test/setup.js
  packages/frontend/src/services/api.js
  packages/frontend/src/stores/historyStore.js
  packages/frontend/src/stores/videoStore.js
Due: eslint --fix, prettier --write

commit
  .gitattributes
  .github/workflows/deploy.yml
  .gitignore
  docker-compose.yml
  dockerfile
  nginx.conf
  package-lock.json
  package.json
  packages/backend/.eslintrc.js
  packages/backend/config/logger.js
  packages/backend/jest.config.js
  packages/backend/middleware/cache.js
  packages/backend/middleware/errorHandler.js
  packages/backend/middleware/validation.js
  packages/backend/package.json
  packages/backend/routes/download.js
  packages/backend/routes/health.js
  packages/backend/routes/stats.js
  packages/backend/server.js
  packages/backend/services/videoService.js
  packages/backend/test/setup.js
  packages/frontend/index.html
  packages/frontend/package.json
  packages/frontend/postcss.config.js
  packages/frontend/public/icon.svg
  packages/frontend/public/manifest.webmanifest
  packages/frontend/src/app.vue
  packages/frontend/src/components/ErrorAlert.vue
  packages/frontend/src/components/LoadingSpinner.vue
  packages/frontend/src/components/VideoResults.vue
  packages/frontend/src/main.js
  packages/frontend/src/stores/videoStore.js
  packages/frontend/src/style.css
  packages/frontend/tailwind.config.js
  packages/frontend/vite.config.js
  readme.md
Due: eslint --fix, prettier --write
